section{
    text-indent: 3px;
}
.moi{
    height: 5%;
    width: 7%;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;
    border: 5px solid black;
}
.propos{
    display: inline-flex;
}
header{
    font-size: 80%;
    display: flex;
    text-justify: 4%;
    background-color: brown;
    padding: 1% 0.5%;
    text-align: center;
}
footer{
    background-color: rgb(9, 9, 97);
    text-align: center;
}
.flotter{
    float: right;
    justify-content: space-between;
    margin-top: 2%;
    padding-left: 40%;
}
.projet{
    text-align: center;
    margin-bottom: 3%;
}
.grid{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(25%, 1fr));
    gap: 2%;
}
.img{
    width: 40%;
    height: 40%;
}
h1{
    text-align: center;
}
.card{
    background-color: white;
    border-radius: 10%;
    overflow: hidden;
    box-shadow: 2px 2px 2px red;
    text-align: center;
    transition: auto;
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 80%;
    background-color: beige;
    padding: 0px;
    margin: 0px;
}
